* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: url("logo.png") no-repeat center center/cover;
}

.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}

.login-box {
    width: 350px;
    background: rgba(20, 20, 20, 0.85);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
}

.login-box h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #aaa;
    color: #fff;
    outline: none;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #aaa;
    transition: 0.3s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -12px;
    font-size: 12px;
    color: #fff;
}

button {
    width: 100%;
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#msg {
    margin-top: 15px;
    text-align: center;
    color: red;
}
